<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>My Astro Learning Blog</h1>
    <p>This is where I will post about my journey learning Astro.</p>

    <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae rerum ullam incidunt quis! Nesciunt iusto maiores quidem, quasi incidunt facere tempore eaque repellendus nisi ab quos minus, laudantium suscipit beatae?
    </p>

    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, officiis! Illum totam, deleniti ab similique est veritatis nemo aperiam ad nostrum enim adipisci saepe. Distinctio eius delectus necessitatibus cumque molestiae!
    </p>
</body>